@model AuteursViewModel


@{
    ViewBag.Title = "Index";
}


@if (Model.listeAuteurs.Count > 0)
{
<div>
    <table>
        @foreach (var auteur in Model.listeAuteurs)
        {
            <tr>
                <td>@auteur </td>

            </tr>
        }

    </table>
</div>
}
else
{
<p>Aucun livre trouvé pour l'id de l'auteur demandé. (@ViewBag.AuteurId)</p>
}