@model LivresViewModel

@{
    ViewBag.Title = "Index";
}

<span>Quantité livres : @Model.qteLivres</span>

<div>
    <table>
        @foreach (var livre in Model.listeLivres)
        {
        <tr>
            <td class="col-xs-2">Titre : @livre.Titre </td>
            <td class="col-xs-2">Auteur : @livre.Auteur.Nom </td>
        </tr>
        }
    </table>
</div>